html,
body {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.gradient-anim {
    transition: background 300ms linear;
}

.text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) !important;
}
